In [ ]:
# 깔끔한 데이터

In [ ]:
## 07 -1 열과 피벗

In [ ]:
### melt 메서드
### 지정한 열의 데이터를 모두 행으로 정리 
### 인자
id_vars: 위치를 그대로 유지할 열의 이름을 저장
value_vars: 행으로 위치를 변경할 열의 이름을 지정합니다.
var_naem: value_vars로 위치를 변경한 열의 이름을 지정합니다.
value_name: var_name으로 위치를 변경한 열의 데이터를 저장한 열의 이름을 지정

In [ ]:
### melt 메서드 사용하기 
#### 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [4]:
path = 'D:/py_fi/doit_pandas-master/doit_pandas-master/data/'

In [5]:
# 파일 입출력
import pandas as pd
pew = pd.read_csv(path+"pew.csv")
print(pew.head( ))

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116

In [6]:
# 6개의 열만 출력 
print(pew.iloc[:,0:6])

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

In [9]:
# 소득정보 열이 variable 열로정리되고소득 정보 열의 행 데이터도 value로 정리 
# 이 과정을 'religion'열을 고정하여 피벗했다고 함
pew_long = pd.melt(pew,id_vars = 'religion')
print(pew_long.head())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [ ]:
## 07 - 2 열 이름 관리하기

In [ ]:
### 하나의 열이 여러 의미를 가지고 있을 있다. 예를 들어 ebola 데이터 집합의 열 중 Deaths_Guinea는 사망자수와 나라이름을 합쳐 만든 이름이다.

In [13]:
# 데이터 불러오기 (컬럼 확인)
ebola = pd.read_csv(path + 'country_timeseries.csv')
print(ebola.columns)
print(ebola.iloc[:5,[0,1,2,3,10,11]])

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')
         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [12]:
ebola_long = pd.melt(ebola, id_vars = ['Date','Day'])
print(ebola_long.head( ))

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [ ]:
### split 메서드로 열 이름 분리하기

In [17]:
# split 함수를 활용해 "_"를 기준으로 단어를 쪼개 리스트로 저장 (데이터 형식은 시리즈)
variable_split = ebola_long.variable.str.split("_")
print(variable_split[:5])

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object

In [ ]:
### 이때 과정 1에서 구한 리스트의 0번째 인덱스에 담긴 문자열은 상태를 의미 
### 1번째 인덱스에 담긴 문자열은 나라이름을 의미
### 문자열을 분리하여 데이터 프레임의 새로운 열로 추가

In [19]:
# 0,1 번째 인덱스의 데이터를 모두 추출
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)

In [21]:
print(status_values[:5])
print(status_values[-5:])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object

In [22]:
print(country_values[:5])
print(country_values[-5:])

0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [ ]:
# 만든 시리즈를 데이터 프레임에 추가

In [23]:
ebola_long['status'] = status_values
ebola_long['country'] = country_values
print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [ ]:
### 혹은 concat함수를 활용하여 따로 분할 하지 않고 추가 할 수 있다.

In [29]:
variable_split = ebola_long.variable.str.split('_',expand = True)
variable_split.columns = ['status','country']
ebola_parsed = pd.concat([ebola_long,variable_split],axis = 1) #axis = 0 이면 세로로 추가 
print(ebola_parsed.head())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea

In [ ]:
### 7- 3 여러 열을 하나로 정리하기

In [30]:
weather = pd.read_csv(path + "weather.csv")

In [32]:
weather_melt = pd.melt(weather, id_vars = ['id','year','month','element'], var_name = 'day',value_name = 'temp')
weather_melt.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [34]:
weather_tidy = weather_melt.pivot_table(index = ['id','year','month','day'],
                                       columns = 'element',
                                       values = 'temp')
print(weather_tidy)

element                 tmax  tmin
id      year month day
MX17004 2010 1     d1    NaN   NaN
                   d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
                   d14   NaN   NaN
                   d15   NaN   NaN
                   d16   NaN   NaN
                   d17   NaN   NaN
                   d18   NaN   NaN
                   d19   NaN   NaN
                   d2    NaN   NaN
                   d20   NaN   NaN
                   d21   NaN   NaN
                   d22   NaN   NaN
                   d23   NaN   NaN
                   d24   NaN   NaN
                   d25   NaN   NaN
                   d26   NaN   NaN
                   d27   NaN   NaN
                   d28   NaN   NaN
                   d29   NaN   NaN
                   d3    NaN   NaN
                   d30  27.8  14.5
                   d31   NaN   NaN
                   d4    NaN   NaN
                   d5    NaN   NaN
                   d6    NaN   NaN
                   d7    NaN   NaN
                   d8    NaN   NaN
...                      ...   ...
             12    d10   NaN   NaN
                   d11   NaN   NaN
                   d12   NaN   NaN
                   d13   NaN   NaN
                   d14   NaN   NaN
                   d15   NaN   NaN
                   d16   NaN   NaN
                   d17   NaN   NaN
                   d18   NaN   NaN
                   d19   NaN   NaN
                   d2    NaN   NaN
                   d20   NaN   NaN
                   d21   NaN   NaN
                   d22   NaN   NaN
                   d23   NaN   NaN
                   d24   NaN   NaN
                   d25   NaN   NaN
                   d26   NaN   NaN
                   d27   NaN   NaN
                   d28   NaN   NaN
                   d29   NaN   NaN
                   d3    NaN   NaN
                   d30   NaN   NaN
                   d31   NaN   NaN
                   d4    NaN   NaN
                   d5    NaN   NaN
                   d6   27.8  10.5
                   d7    NaN   NaN
                   d8    NaN   NaN
                   d9    NaN   NaN

[341 rows x 2 columns]

In [ ]:
### 07-4 중복 데이터 처리하기

In [35]:
billboard = pd.read_csv(path+"billboard.csv")
billboard_long = pd.melt(billboard, id_vars = ['year','artist','track','time','date.entered'],var_name = 'week',value_name = 'rating')
print(billboard_long.shape)
print(billboard_long.head())

(24092, 7)
   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [36]:
billboard_songs = billboard_long[['year','artist','track','time']]
print(billboard_songs.shape)

(24092, 4)

In [37]:
billboard_songs = billboard_songs.drop_duplicates( )
print(billboard_songs.shape)

(317, 4)

In [38]:
billboard_songs['id'] = range(len(billboard_songs))
print(billboard_songs.head(10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9