# 판다스 데이터프레임과 시리즈

## 나만의 데이터 만들기

In [1]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(['Wes Mckinney', 'Creator of pandas'], index=['Person','Who'])
print(s)

Person         Wes Mckinney
Who       Creator of pandas
dtype: object

In [ ]:
## 데이터 프레임을 만들기 위해서는 딕셔너리를 DataFrame 클래스에 전달

In [11]:
a = ({
    'Name':['Rosaline Franklin' ,'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37,61]
})

In [12]:
scientists = pd.DataFrame(a,
                         index = ['Rosaline Franklin','William Gosset'],
                         columns = ['Occupation', 'Born', 'Age','Died' ])
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [ ]:
## 데이터 프레임에서 시리즈 선택하기

In [18]:
first_row = scientist.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [19]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

In [22]:
first_row.index

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

# 시리즈 다루기 응용

In [30]:
scientists = pd.read_csv("data/scientists.csv")

In [ ]:
## 불린 추출 사용하기

In [31]:
ages = scientists['Age']
print(ages.max( ))

90

In [32]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

### 1. 브로드캐스팅이란 데이터 프레임 내의 모든 데이터에 대해 한번에 연산하는 것을 의미한다. 
### 2. 스칼라도 문제없다.
### 3. 그러나 브로드캐스팅 할 데이터들의 길이가 다를 경우 짧은 쪽이 끝난 뒤 부터는 NaN값이 출력된다.

In [35]:
### sort_index (ascending 값이 False일 경우 큰 수부터 내림차순, True일 경우 작인 수부터 오름차순)
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [37]:
scientists[scientists['Age'] > scientists['Age'].mean( )]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician